$positive: #0a9dc7;
$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic.scss';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons.scss';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}

#map {
  min-height: 385px;
  min-width: 100%;
  background-color: white;
}

#createLine {
  margin:0px;
  top:1px;
  z-index:10;
}