$positive: #0a9dc7;
$loading-font-size: 22px;

@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/_ionic.scss';
@import '.meteor/local/build/programs/server/assets/packages/meteoric_ionicons-sass/_ionicons.scss';

.ionic-body.platform-android {
  font-family: "Roboto", sans-serif;

  h1, h2, h3, h4, h5, h6,
  .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", sans-serif;
  }

  .tab-item {
    font-family: "Roboto", sans-serif;
  }
}

.ion-slide {
  text-align: center;
  padding-top: 200px;

  &.dark-bg {
    h3 {
      color: #fff;
    }
  }
}

.popover {
  height: auto;
}

.item-button-left, .item-button-right {
  button {
    top: 16px !important;
  }
}

#map {
  min-height: 315px;
  min-width: 100%;
  background-color: white;
}

#createLine, #endLine {
  margin:0px;
  top:1px;
  z-index:10;
}

.empty-view {
  color: #ccc;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 20px;

  i {
    display: block;
    margin: 0 auto 12px auto;
    font-size: 80px;
  }
}

#showLineList {
  text-align: center;
}

.podbar {
  bottom:0;
  position:fixed;
  z-index:150;
  _position:absolute;
  _top:expression(eval(document.documentElement.scrollTop+
      (document.documentElement.clientHeight-this.offsetHeight)));
  height:65px;
  width: 100%;
}

