<template name="main">
  {{#if currentUser}}
    <a id="mapForward" href="{{pathFor 'map'}}" class="pull-right button button-positive button-clear">Map {{> ionIcon icon="ios-arrow-forward"}} </a>
  {{/if}}
  {{#ionView}}
    {{#ionContent}}

      {{#if showLoginTemplate}}
        <div class="padding">          
          {{> atForm}}
        </div>
      {{else}}
        <div class="empty-view">
          {{> ionIcon icon='android-globe'}}
          Lines
        </div>
      {{/if}}
      
      <div class="podbar">
        <div class="row">
        {{#if currentUser}}
          <button class="auth-btns button button-small button-full button-positive button-clear" data-action="logout">LOG OUT</button>
          <button class="auth-btns button button-small button-full button-positive button-clear disabled" data-action="login">LOG IN</button>
        {{else}}
          <button class="auth-btns button button-small button-full button-positive button-clear disabled" data-action="logout">LOG OUT</button>
          <button class="auth-btns button button-small button-full button-positive button-clear" data-action="login">LOG IN</button>
        {{/if}}            
      </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
