<template name="main">
  {{> ionNavBar class="bar-clear"}}
  {{#ionView}}
    {{#ionContent}}

      {{#if showLoginTemplate}}
        <div class="padding">          
          {{> atForm}}
        </div>
      {{else}}
        {{#if currentUser}}
        {{else}}
          <div class="empty-view">
            {{> ionIcon icon='android-globe'}}
            Lines
          </div>
        {{/if}}
      {{/if}}

      {{#if currentUser}}
        {{#ionList}}
          {{#ionItem path="map" iconLeft=false iconRight=true}}
            Map
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}
          {{#ionItem path="updateProfile" iconLeft=false iconRight=true}}
            Update Profile
            {{> ionIcon icon="ios-arrow-right"}}
          {{/ionItem}}
        {{/ionList}}
      {{/if}}

      <div class="podbar">
        <div class="row">
          {{#if currentUser}}
            <button class="auth-btns button button-small button-full button-positive button-clear" data-action="logout">LOG OUT</button>
            <button class="auth-btns button button-small button-full button-positive button-clear disabled" data-action="login">LOG IN</button>
          {{else}}
            <button class="auth-btns button button-small button-full button-positive button-clear disabled" data-action="logout">LOG OUT</button>
            <button class="auth-btns button button-small button-full button-positive button-clear" data-action="login">LOG IN</button>
          {{/if}}            
        </div>
      </div>
    {{/ionContent}}
  {{/ionView}}
</template>
